{% extends 'base.html' %}
{% load static %}

{%  block contenido %}

<body>
    <h1>Acerca de nuestro blog</h1>
    <p>Bienvenidos a nuestro blog dedicado a difundir temas ambientales.</p>
    <h2>Nuestra misión</h2>
    <p>Nuestra misión es convertir a la tierra en un lugar más justo y sano...</p>
    
    <!-- Sección "Acerca de ...." -->
    <section class="about-section" id="about-section">
        <h2>Ambiente somos</h2>
        <p>Buscamos mejorar la salud de la tierra y la actitud de los seres humanos.</p>
        <img src="imagen-acerca-de.jpg" alt="Acerca de nosotros">
        <p>Ecorganización digital para la sostenibilidad. Queremos otro ambiente. Queremos una tierra restaurada.Para ello ponemos a disposición nuestra fuerza, nuestra labor, los conocimientos y la experiencia de quienes trabajan con esa finalidad.</p>
   
        <h2>La integran</h2>
        <ul>
            <li>Estudiantes</li>
            <li>Ambientalistas</li>
            <li>Educadores</li>
            <li>Desarrolladores</li>
            <li>Divulgadores</li>
            <li>Ingenieros</li>
        </ul>
        
        <h2>Nuestro block de notas</h2>
        <p>En nuestro block de notas escribimos las experiencias, impresiones e ideas sobre ambiente, comunicación efectiva, educación ambiental, participación ciudadana, calentamiento global, inclusión, igualdad y tantos temas más que surjan a medida que los estándares de los Derechos Humanos ambientales crezcan.</p>
        <h2>Misión y valores</h2>
        <p>Debemos aprender con el planeta para corregir lo que se hizo mal. Ecorganización nace en 2023 de la mano del Informatorio Chaco 2023. Centrad@s en principios compartidos que se fundan en la agenda 2030 de la ONU. Valores que apuntan a la sustentabilidad ambiental, económica y social.</p>
        <h2>Programas educativos. Planes de acción y reflexión</h2>
        <p>Aquí subiremos planes, programas, cursos y otras propuestas relacionados con el cuidado ambiental y la ecopedagogía.</p>
        
        
    </section>
   
    
    <!-- Enlace?? 
    <a href="https://www.ejemplo.com">Visitar Ejemplo.com</a> --> 
</body>
</html>



{% endblock contenido %}