{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}
    Pagina de inicio
    {% endblock title %}</title>
  <link rel="shortcut icon" href="../img/reddit.ico">
  <meta property="og:title" content="SOMOS AIRE" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://matisandoval.pythonanywhere.com/r" />
  <meta property="og:image"
    content="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffactorcapitalhumano.com%2Fcarrera%2Fcon-o-sin-foto-el-dilema-de-incluir-el-retrato-personal-en-el-curriculum-vitae%2F2020%2F09%2F&psig=AOvVaw1HCVIfSJ1lef7vkDYrARyt&ust=1674778986746000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCIij0Yb84_wCFQAAAAAdAAAAABAE" />
  <meta property="og:description" content="Blog para compartir tus artículos del medio ambiente" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/switch.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/acercade.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/articulo.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom-navbar.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&family=Roboto+Mono:wght@100&family=Sofia+Sans:wght@100&display=swap"
    rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>
  <script defer src="{% static 'assets/js/logout.js' %}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!--Esto es texto enriquecido para artículos-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/default.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/sceditor.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  <script defer src="{% static 'assets/js/temaoscuro.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  {% include 'navbar.html' %}



  {% block contenido %}
  <section class="detalles">
    <div class="caja-contenedor" id="catego">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">CATEGORIAS</h1><br><br>

        <h2>¡Descubre nuestro Oasis Sostenible de Categorías Ecológicas!</h2><br>
        <p>Te invitamos a explorar nuestra selección de artículos referidos al medio ambiente. Cada categoría ha sido
          cuidadosamente creada para armonizar con la naturaleza y marcar una diferencia positiva en nuestro planeta.
          Únete a nuestra comunidad comprometida con la conservación y déjanos ser tu guía hacia un estilo de vida más
          verde y consciente.<br>
          <br><br><br>
        <h2>¡Juntos, construiremos un futuro más brillante para las generaciones venideras!"</h2>
        </p>
      </div>

      <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3 categor">
          <a href="{% url 'apps.articulo:articulos_por_categoria' categorias='1' %}" class="imgc"
            data-audio="{% static 'assets/sounds/agua.mp3' %}">
            <img src="{% static '/assets/img/aguas.jpg' %}" class="img-fluid border" id="imagen1">
          </a>

        </div>
        <div class="col-12 col-md-4 p-5 mt-3 categor">
          <a href="{% url 'apps.articulo:articulos_por_categoria' categorias='2' %}" class="imgc"
            data-audio="{% static 'assets/sounds/electricidad.mp3' %}">
            <img src="{% static '/assets/img/energias.jpg' %}" class="img-fluid border" id="imagen2">
          </a>

        </div>
        <div class="col-12 col-md-4 p-5 mt-3 categor">
          <a href="{% url 'apps.articulo:articulos_por_categoria' categorias='3' %}" class="imgc"
            data-audio="{% static 'assets/sounds/fuego.mp3' %}">
            <img src="{% static '/assets/img/cambio.jpg' %}" class="img-fluid border" id="imagen3">
          </a>

        </div>
        <div class="col-12 col-md-4 p-5 mt-3 categor">
          <a href="{% url 'apps.articulo:articulos_por_categoria' categorias='4' %}" class="imgc"
            data-audio="{% static 'assets/sounds/ninio.mp3' %}">
            <img src="{% static '/assets/img/educacion.jpg' %}" class="img-fluid border" id="imagen4">
          </a>

        </div>
        <div class="col-12 col-md-4 p-5 mt-3 categor">
          <a href="{% url 'apps.articulo:articulos_por_categoria' categorias='5' %}" class="imgc"
            data-audio="{% static 'assets/sounds/politicas.mp3' %}">
            <img src="{% static '/assets/img/politicas.jpg' %}" class="img-fluid border" id="imagen5">
          </a>

        </div>
      </div>

    </div>
    {% include 'js-py/img-sound.html' %}
  </section>

  <section class="detalles">
    <div class="caja-contenedor">
      <h1 id="destacadas">NOTICIAS MAS DESTACADAS</h1>
      {% block carrusel %}
      <div class="carrusel-class">
        <div id="carousel" class="carousel slide my-custom-carousel" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            {% for articulo in mejores_articulos %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="6000">
              <img src="{{ articulo.imagen.url }}" class="d-block w-100 carousel-img" alt="{{ articulo.titulo }}">
              <div class="carousel-caption d-none d-md-block">
                <div class="carousel-text-bg">
                  <h5>{{ articulo.titulo }}</h5>
                  <p>{{ articulo.resumen }}</p>
                  <h3> <strong>{{ articulo.calificacion_promedio }} ★</strong></h3>
                </div>
              </div>
            </div>
            {% empty %}
            <li> No hay artículos </li>
            {% endfor %}
          </div>
          <div class="carousel-controls">
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
        </div>

      </div>
    </div>
    </div>
    {% endblock %}
    <div class="video">
      <h1> Te dejamos un video sobre el bioma y los ambientes en el Chaco</h1>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <iframe class="w-100" width="560" src="https://www.youtube.com/embed/UJqtYe4BEyE"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </section>
  {% endblock contenido %}

  {% include 'footer.html' %}







  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="sweetalert2.min.js"></script>

  <link rel="stylesheet" href="sweetalert2.min.css">


</body>

</html>