{% load static %}
<footer class="bg-custom">
    <div class="footer">
    <div class="caja-contenedor">
        <div class="caja">
            <img src="{% static 'assets/img/informatorio.png' %}" alt="">
            <h3>Noticias e informacion</h3>
            <p>¡Bienvenidos al blog del medio ambiente del curso 'Informatorio, desarrollo web'! Aquí encontrarás noticias e información
            relevante sobre temas ambientales y sostenibilidad. Nuestro objetivo es crear conciencia y promover acciones para cuidar
            nuestro entorno. Únete a nosotros para explorar las últimas noticias, consejos prácticos y proyectos inspiradores que
            contribuyen a un futuro más verde y saludable para todos.</p>
            
        </div>
        <div class="caja">
            <div class="busca">
            <h3>Buscanos en</h3>
            <a href="https://www.facebook.com/profile/">Facebook</a>
            <a href="https://www.instagram.com/">Instagram</a>
            <a href="https://twitter.com/?lang=es">Twitter</a>
            <a href="https://linkedin.com/">LinkedIn</a> 
            </div>
        </div>
        <div class="caja">
            <h3>Mas información</h3>
            <div class="info">
                <div class="icono"><i class="fas fa-phone"></i></div>
                <p>+54 9 3624-657352 <br>+54 9 3734-001122</p>
            </div>
            <div class="info">
                <div class="icono"><i class="fas fa-envelope"></i></div>
                <p>aire@somosaire.com.ar <br>ecorganizacion23@gmail.com</p>
            </div>
            <div class="info">
                <div class="icono"><i class="fas fa-map-marker-alt"></i></div>
                <p>Av. 9 de Julio 252 <br>Resistencia, Chaco</p>
            </div>
        </div>
    </div>
    <h1 class="creditos">Copyright @ 2023 Grupo 4</h1>
    </div>
</footer>