{% load static %}
<footer class="bg-custom">
    <div class="footer">
    <div class="caja-contenedor">
        <div class="caja">
            <img src="{% static 'assets/img/logo.png' %}" alt="">
            <h3>Noticias e informacion</h3>
            <p>Este es el proyecto final del curso "Informatorio, etapa 2".</p>
            
        </div>
        <div class="caja">
            <div class="busca">
            <h3>Buscanos en</h3>
            <a href="https://www.facebook.com/profile/">Facebook</a>
            <a href="https://www.instagram.com/">Instagram</a>
            <a href="https://twitter.com/?lang=es">Twitter</a>
            <a href="https://linkedin.com/">LinkedIn</a> 
            </div>
        </div>
        <div class="caja">
          <div class="info">
              
              <div class="colaboradores">
                <h3>Colaboradores</h3>
              <h4 href="#">Acevedo, Cristian</h4>
              <h4 href="#">Menjoulet, Felipe</h4>
              <h4 href="#">Sandoval, Matías</h4>
              <h4 href="#">Clerici, Silvana</h4>
              <h4 href="#">Mustafa, Amir</h4>
              <h4 href="#">Gonzalez, Mauro</h4>
              <h4 href="#">Robeff, Santiago</h4>
              <h4 href="#">Betcker, Brian</h4>
              <h4 href="#">Barrios, Roberto</h4>
              <h4 href="#">Gomez, Franco</h4>

            </div>
          </div>
        </div>
        <div class="caja">
            <h3>Mas informacion</h3>
            <div class="info">
                <div class="icono"><i class="fas fa-phone"></i></div>
                <p>+54 9 3624-657352 <br>+54 9 3624-001122</p>
            </div>
            <div class="info">
                <div class="icono"><i class="fas fa-envelope"></i></div>
                <p>ejemplo@ejemplo.com.ar <br>juanperez76@ejemplo.com</p>
            </div>
            <div class="info">
                <div class="icono"><i class="fas fa-map-marker-alt"></i></div>
                <p>Chaco, Argentina <br>Resistencia</p>
            </div>
        </div>
    </div>
    <h1 class="creditos">Copyright @ 2023 Grupo 4</h1>
    </div>
</footer>