<!-- acercade.html -->
{% extends 'base.html' %}

{% load static %}
{% block contenido %}
    <section class="about-section">
        <h1>Acerca de nuestro blog</h1>
        <p>Bienvenidos a nuestro blog dedicado a difundir temas ambientales.</p>
        <h2>Nuestra misión</h2>
        <p>Nuestra misión es convertir a la tierra en un lugar más justo y sano...</p>
        <div class="containerr">
            <h1>Algo de nuestra Historia</h1>
            <p> Esta entidad nace en la Provincia del Chaco, República Argentina, en sintonía con la Agenda 2030 para el
                Desarrollo Sostenible, adoptada por la Asamblea General Organización de las Naciones Unidas (ONU). En tal
                sentido, nos posicionamos como una organización no gubernamental (ONG) conformada por un grupo de habitantes que
                pretenden incidir en los planos social, educativo, económico y político. Ente de naturaleza altruista dirigido a
                toda persona preocupada por adoptar hábitos de vida sostenibles.
                La convocatoria es eliminar los basurales, limpiar ríos y recomponer cursos de agua históricos, actualmente
                abandonados. Aquellas presentaciones breves para pequeños grupos de estudiantes es la semilla que impulsa y
                cobra vida en esta entidad que finalmente ve la luz en 2023. Todo gracias al impulso de personas persistentes y
                esforzadas que pretenden un universo mejor.
                
            </p>
        <h2>Ambiente somos</h2>
        <p>Buscamos mejorar la salud de la tierra y la actitud de los seres humanos.</p>
        <img src="{% static 'assets/img/logo.png' %}" alt="Acerca de nosotros" style="width:300px;height:300px;">
        <p>Ecorganización digital para la sostenibilidad. Queremos otro ambiente. Queremos una tierra restaurada.Para ello ponemos a disposición nuestra fuerza, nuestra labor, los conocimientos y la experiencia de quienes trabajan con esa finalidad.</p>

        <h2>La integran</h2>
        <ul>
            <li>Estudiantes</li>
            <li>Ambientalistas</li>
            <li>Educadores</li>
            <li>Desarrolladores</li>
            <li>Divulgadores</li>
            <li>Ingenieros</li>
        </ul>
        
        
        <h2>Nuestro block de notas</h2>
        <p>En nuestro block de notas escribimos las experiencias, impresiones e ideas sobre ambiente, comunicación efectiva, educación ambiental, participación ciudadana, calentamiento global, inclusión, igualdad y tantos temas más que surjan a medida que los estándares de los Derechos Humanos ambientales crezcan.</p>
           
        <h2>Misión y valores</h2>
        <p>Debemos aprender con el planeta para corregir lo que está mal. Ecorganización nace en 2023 de la mano del Informatorio Chaco 2023. Centrad@s en principios compartidos que se fundan en la agenda 2030 de la ONU. Valores que apuntan a la sustentabilidad ambiental, económica y social.</p>
        <h2>Programas educativos. Planes de acción y reflexión</h2>
        <p>Aquí subiremos planes, programas, cursos y otras propuestas relacionados con el cuidado ambiental y la ecopedagogía.</p>
         
        <div class="colaboradores">
                    <h3>Colaboradores</h3>
                    <h4 href="#">Acevedo, Cristian</h4>
                    <h4 href="#">Menjoulet, Felipe</h4>
                    <h4 href="#">Sandoval, Matías</h4>
                    <h4 href="#">Clerici, Silvana</h4>
                    <h4 href="#">Mustafa, Amir</h4>
                    <h4 href="#">Gonzalez, Mauro</h4>
                    <h4 href="#">Robeff, Santiago</h4>
                    <h4 href="#">Betcker, Brian</h4>
                    <h4 href="#">Barrios, Roberto</h4>
                    <h4 href="#">Gomez, Franco</h4>
        </div>
        
    </section>
   


{% endblock %}



