.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.articulo-contenedor {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(197, 197, 197);
    box-shadow: 0 0.5rem 1rem rgba(16, 80, 24, 0.1);
    border: 0.6rem solid rgb(31, 69, 16);
    border-radius: 2rem;
    max-width: 50rem;
    padding: 2rem;
    margin: 1rem;

    word-wrap: break-word;
}

.articulo-contenedor .resumen {
    text-align: justify;
}

.articulo-contenedor:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}


.articulo-contenedor.clicked {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.articulo-contenedor h4,
.articulo-contenedor h1,
.articulo-contenedor h5 {
    color: black;

    font-weight: normal;

}

#imagen-articulo {
    margin: auto;
    width: 40rem;
    height: 30rem;
}

#titulo {
    text-transform: uppercase;
}

#public {
    color: rgb(167, 161, 149);
    font-family: 'Courier New', Courier, monospace;
    text-align: right;

}

#contacto {
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    text-align: center;
}

#btncontacto {
    align-items: center;
    margin-left: 35rem;
    width: 7rem;
    height: 3rem;
    text-transform: uppercase;
}

.contenido-truncado {
    border: 1px solid #ccc;
    padding: 10px;
}

.articulo-contenedor .fecha {
    color: rgb(110, 110, 107);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

#articulos-row {
    margin-top: 3rem;
}

#filtro-botona {
    padding: 6px 8px 6px 8px;

    margin-top: 2rem;
}

#filtro-botonc {
    padding: 6px 8px 6px 8px;

    margin-top: 2rem;
}

#filtro-boton {
    padding: 6px 8px 6px 8px;

    margin-top: 2rem;
}

.fila-botones {
    margin-top: 20px;

}

.agregararti {

    margin-bottom: -3rem;
    margin-top: 1.5rem;
}

#miParrafo {
    display: none;
}

#miParrafo2 {
    display: none;
}

#calif {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#calif p {
    text-align: center;
}

#calif .estrellas {
    font-size: 50px;
    margin-top: -1.5rem;
    margin-left: 3rem;
}

input[type="radio"] {
    display: none;
}

.estrellas {
    color: grey;

}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;

}

.estrellas:hover,
.estrellas:hover~label {
    color: orange;
}

input[type="radio"]:checked~.estrellas {
    color: orange;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.clasificacion>input {
    display: none;
}

.clasificacion>label {
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
}

.clasificacion>input:checked~label {
    color: orange;
}

#calif .col-4 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#puntuaciones ul li {
    display: inline;
}

#ver-puntuaciones {
    margin-left: 15rem;
    margin-bottom: 3rem;
}

#puntuaciones ul li.califi {
    background-color: rgb(30, 81, 50);
    color: rgb(233, 244, 222);
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botoness {
    margin-top: 3rem;
}

#pdf {
    width: 12rem;
}

.sec-articulos {
    padding-top: 3rem;
}

.sec-mod {
    margin-top: -2rem;
}

.elim-conteiner form {
    background-color: rgb(39, 181, 91);
}