.comentarios-seccion {
    background-color: rgb(39, 181, 91);
}

#tituloComentario {
    color:rgb(46, 110, 33);
    background-color: #002c11;
    margin-left: 100px;
    margin-right: 100px;
    border: 10px solid #002c11;
    padding: 10px;
    text-align: center;
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    font-family: 'Arial', sans-serif; /* Fuente personalizada */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    padding: 10px; /* Espacio interno para separar del contenido */
}

.form-box {
    background-color: #04471C;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    width: 100%;
}

.form__textarea {
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    resize: none; /* Evita que se pueda redimensionar manualmente */
    height: auto; /* Altura automática según el contenido */
    width: 100%; /* Ajusta el ancho del textarea al 100% del contenedor */
    max-width: 590px; 
}

.card-body {
    flex: 1; /* Ocupar todo el espacio restante en la fila */
    margin-left: 10px; /* Separación entre la información del usuario y el comentario */
}

.botones {
    margin-left: auto; /* Empujar los botones hacia la derecha */
    display: flex; /* Para que los botones estén en línea */
    gap: 10px; /* Espacio entre los botones */
    align-items: center;
    padding: 10px;
}

.botones a {
    white-space: nowrap;
}

.btn:hover {
    transform: scale(1.07); /* Reducir el efecto de agrandamiento en hover */
}

.form__title {
    margin-bottom: 10px;
    color: white;
    text-align: left;
}

.contenedor-comentarios{
    margin-left: 100px;
    margin-right: 100px;
}

.mi-product-wap {
    padding: 10px;
    font-size: 23px;
    margin-bottom: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #002c11;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
    display: flex; /* Para utilizar el modelo de caja flexible */
    align-items: center;
} 

.user-info {
    display: flex; /* Para utilizar el modelo de caja flexible */
    align-items: center; /* Centrar verticalmente los elementos */
    font-size: 25px;
    font-weight: bold;
    color: #777777;
}

.info-user-wap{
    color: white;
    background-color: #04471C;
    border-radius: 15px;
    border: 1px solid #04471C;
    padding: 10px;
    display: inline-block;
    font-size: 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info-user-wap img {
    width: 35px; /* Establecer el ancho de la imagen */
    height: 35px; /* Establecer la altura de la imagen (opcional) */
    border-radius: 50%; 
    margin-right: 10px; 
}

.comentario-box {
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}