
html {
  overflow-x: hidden;
}

.home {
  display: flex;
  flex-wrap: wrap;
}

button {
  margin: 20px;
}


nav ul li {
  padding: 10px;
}

section {
  background-color: rgb(39, 181, 91);
    font-family: 'Raleway', sans-serif;
    margin-bottom: -1.3rem;
}

.heading {
  text-align: center;
  background: #04471C;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
}




.btn:hover {
  transform: scale(1.5);
}

.container-fluid a {
  color: white;
}

.detalles .caja-contenedor {

  
  margin-top: .1rem;
  text-align: center;
  transition: .2s linear;
  width: auto;
  height: auto;

}
.caja-contenedor h1{
  padding-top: 2rem;
  padding-bottom: 1rem;
  color:white;
}

#destacadas {
  background-color: rgb(82, 204, 126);
  margin-top: -1rem;
}

.detalles .carousel {
  align-items: center;
  padding-top: 0rem;

}



.detalles .caja-contenedor #carouselExampleDark .carousel-item h5 {
  color: whitesmoke;
}

.detalles .caja-contenedor #carouselExampleDark .carousel-item p {
  color: whitesmoke;
}

.detalles .caja-contenedor h1 {
  color: rgb(255, 255, 255);

}

.detalles .caja-contenedor h5 {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
  
}

.footer {
  padding-top: 3rem;
  background-color: #04471C;
  color: whitesmoke;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
  
}

.footer .caja-contenedor {
  display: flex;
  flex-wrap: wrap;
  background-color: #04471C;
}

.footer .caja-contenedor .caja {
  flex: 1 1 25rem;
  margin: .5rem;
  align-items: center;
}

.footer .caja-contenedor .caja h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.footer .caja-contenedor .caja .busca h3 {
  font-size: 3rem;
}

.footer .caja-contenedor .caja .busca h4 {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.footer .caja-contenedor .caja .busca {
  
  padding-left: 30px;
  margin-left: 5rem;
  align-items: center;
}

.footer .caja-contenedor .caja p {
  font-size: 1.5rem;
  padding: .5rem 0;
  color: rgb(255, 255, 255);
  text-align: justify;
}

.footer .caja-contenedor .caja .busca a {
  display: block;
  font-size: 2.5rem;
  padding: .5rem 0;
  color: whitesmoke;
  text-decoration: none;
}

.footer .caja-contenedor .caja .busca a:hover {
  text-decoration: underline;
}

.footer .caja-contenedor .caja .info {
  display: flex;
  align-items: center;

}

.footer .caja-contenedor .caja .info .icono {
  margin: .5rem 0;
  margin-right: 2rem;
  font-size: 1.8rem;
  background: whitesmoke;
  color: rgb(41, 98, 255);
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  border-radius: 50%;

}

.footer .caja-contenedor .caja img {
  width: 200px;
  margin-left: 6rem;
  align-items: center;
}

.footer .creditos {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: .1rem;
  color: ghostwhite;

  border-top: .1rem solid ghostwhite;
  padding: 2.5rem 1rem;
  text-align: center;

}


body,
html {
  margin: 0;
  padding: 0;
}

.detalles {
  width: 100%;
  background-color: rgb(82, 204, 126);
}

.detalles .cajaa {
  width: 100%;
}

#catego {
  background-color: rgb(39, 181, 91);
}

.detalles .caja-contenedor .row .categor a img {
  width: 30rem;
  height: 20rem;
}

.detalles .caja-contenedor .row .categor #imagen4 {
  margin-left: 10rem;
}

.detalles .caja-contenedor .row .categor #imagen5 {
  margin-left: 15rem;
}

.detalles .caja-contenedor .row .categor #imagen1:hover {
  width: 50rem;
  height: 30rem;
  filter: brightness(70%);
}

.detalles .caja-contenedor .row .categor #imagen2:hover {
  width: 50rem;
  height: 30rem;
  filter: brightness(70%);
}

.detalles .caja-contenedor .row .categor #imagen3:hover {
  width: 50rem;
  height: 30rem;
  filter: brightness(70%);
}

.detalles .caja-contenedor .row .categor #imagen4:hover {
  width: 50rem;
  height: 30rem;
  filter: brightness(70%);
}

.detalles .caja-contenedor .row .categor #imagen5:hover {
  width: 50rem;
  height: 30rem;
  filter: brightness(70%);
}


.detalles #catego p {
  text-align: justify;

}

.detalles #catego {
  color: whitesmoke;
}

.user-image {
  border-radius: 5rem;
  margin-right: 1rem;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#usuario {
  color: white;
  text-transform: uppercase;
  margin-right: 5rem;
  margin-left: 2rem;
}

.custom-navbar {
  background-color: #04471C;
  margin-bottom: -1rem;
}

.custom-navbar .navbar-nav .nav-link {
  color: #ebeaea;
}

.video h1 {

  text-align: center;
}

.custom-left {
  margin-right: 3rem;
}

.video iframe {
  height: 50rem;
  width: 80rem;
}

#umod {
  margin-left: 3rem;
  margin-top: 1rem;

}

#pass {
  margin-left: 10rem;
  margin-top: 3rem;

}

#modificar-form {
  width: 400px;

  border-radius: 10px;

}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

.form-container p {
  color: #282828;
}

#usuh1 {
  text-align: center;
  margin-top: 2rem;
}
/* Estilos para el menú desplegable */
/* Estilos para el menú desplegable */
.dropdown-menu {
  color: black;
  /* Cambiar el color del texto a negro */
  background-color: white;
  /* Cambiar el color de fondo a blanco */
}

#btn-contacto{
  margin-top: 3rem;
}

.container{
  margin-top: 20px;
    /* Ajusta la separación entre el encabezado y el formulario */
    margin-bottom: 20px;
}

.cont-form {
  margin-bottom: 20px;
}
.contactos{
  margin-top: -3rem;
}