{% extends 'base.html' %}
{% load static %}


<title> {% block title %} Articulos {% endblock title %} </title>

{% block contenido %}

<body>

  <!-- Start Categories of The Month -->
  <section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Articulos</h1>
        </div>
    </div>


    <div class="row">
      {% for articulo in articulos %}
        <div class="col-12 col-md-4 p-5 mt-3">
            <h4 class="text-center mt-3 mb-3"> {{ articulo.titulo | capfirst }} </h4>
            <a href="#"><img src=" {{ articulo.imagen.url }}" class="rounded-circle img-fluid border" style="width: 200px; height: 200px;"></a>
            <h5 class="text-center mt-3 mb-3">{{ articulo.resumen | capfirst }}</h5>
            
            <p class="text-center"><a class= "btn btn-success" href="{% url 'apps.articulo:leer_articulo' articulo.id %}">Leer mas</a></p>
            
        </div>
      {% empty %}
        <li> No hay articulos </li>
      {% endfor %}
    <div>
  </section>
<!-- End Categories of The Month -->

</body>
</html>
{% endblock contenido %}
