{% load static %}
<section class="py-5">
    <div class="container">
        <div class="row text-center p-2 pb-3">
            <h1>Comentarios</h1>
        </div>
        <div id="carousel-related-product">
            <div class="p-2 pb-3">
                <center>
                    <section id="comentarios" class="py-5">
                        <div class="container-com">
                            {% for comentario in comentarios %}
                            <div class="p-2 pb-3">
                                <div class="product-wap card rounded-0">
                                    <div class="card rounded-0">
                                        <a>{{ comentario.usuario }} - {{ comentario.fecha }}</a>
                                    </div>
                                    <div class="card-body">
                                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                            <p>{{ comentario.texto }}</p>
                                        </ul>
                                        {% for group in user.groups.all %}
                                        {% if group.name == 'Colaborador'%}
                                        <a class="btn btn-danger btn-lg"
                                            href="{% url 'apps.comentario:eliminarComentario' comentario.pk %}">Eliminar
                                            comentario</a>
                                        <a class="btn btn-success btn-lg"
                                            href="{% url 'apps.comentario:editar_comentario' comentario_id=comentario.pk %}">Editar
                                            comentario</a>
                                        {% endif %}
                                        {% endfor %}
                                        {% for group in user.groups.all %}
                                        {% if group.name == 'Miembro'%}
                                        {% if comentario.usuario.username == user.username %}
                                        <a class="btn btn-danger btn-lg"
                                            href="{% url 'apps.comentario:eliminarComentario' comentario.pk %}">Eliminar
                                            comentario</a>
                                        <a class="btn btn-success btn-lg"
                                            href="{% url 'apps.comentario:editar_comentario' comentario_id=comentario.pk %}">Editar
                                            comentario</a>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <li>Aún no hay comentarios, ¿quieres dejar una reseña?</li>
                            {% endfor %}
                            <a id="comentario"></a>
                            <div class="comentario"></div>
                            <form method="POST" style="margin-bottom: 400px; margin-top: 100px;"
                                action="{{ articulo.get_link_comentar }}">
                                {% csrf_token %}
                                {% for group in user.groups.all %}
                                {% if group.name == 'Miembro' or group.name == 'Colaborador'%}
                                <h2>Deja tu comentario</h2>
                                {{ form }}
                                <button type="submit" class="btn btn-success btn-lg">Comentar</button>
                                {% endif %}
                                {% endfor %}
                                {% if user.is_authenticated %}
                                {% else %}
                                <h2>Debes iniciar sesion para comentar</h2>
                                <a class="btn btn-success btn-lg"
                                    href="{% url 'apps.usuario:login' %}?next={{ request.path }}#comentario">Iniciar
                                    sesion</a>
                                <input type="hidden" name="next" value="{{ request.path }}">
                                {% endif %}
                            </form>
                            <div>
                            <div>
                    </section>
                </center>
            </div>
        </div>
    </div>
    </div>
</section>