{% load static %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('#update-form');

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            // Realizar la petición POST para actualizar el formulario mediante Fetch API
            fetch(form.action, {
                method: 'POST',
                body: new FormData(form),
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        // Mostrar el SweetAlert con el mensaje de éxito
                        Swal.fire({
                            icon: 'success',
                            title: 'Datos modificados!',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            // Recargar la página después de cerrar el SweetAlert
                            location.reload();
                        });
                    }
                })
                .catch(error => {
                    // Manejar errores aquí si es necesario
                    console.error('Error al actualizar el formulario:', error);
                });
        });
    });
</script>