<!doctype html>
<html lang="en">

<head>
  <title>Grupo 4</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Desafio 10</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Enlace</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ver
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Acción</a></li>
                  <li><a class="dropdown-item" href="#">Otra acción</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Algo más aquí</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Prueba</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
  </header>
  <main>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Integrante</th>
            <th scope="col">Git-Hub username</th>
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Sandoval, Matias</td>
            <td>MatiSandoval</td>
            <td>Frontend Developer</td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Clerici, María Silvana</td>
            <td>SilvanaClerici</td>
            <td>Product Owner</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Mustafá, Amir</td>
            <td>amiir019</td>
            <td>Scrum Master</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Betker, Braian</td>
            <td>kian0592</td>
            <td>Tester</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Gómez, Franco</td>
            <td>francog5</td>
            <td>Database Administrator</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Robeff, Santiago</td>
            <td>TonQuassar</td>
            <td>Backend Developer</td>
          </tr>
        </tbody>
      </table>
  </main>
  <div class="container my-5">
  <footer class="text-center text-lg-start text-white"
  style="background-color: #3e4551">
    
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Pie de página</h5>

            <p>
              En el grupo 4, utilizamos ejemplos del framework bootstrap para probar de a poco lo que podría ser el diseño del proyecto final. No lo modificamos mucho pero a medida que se avance en el trabajo vamos a utilizar esta herramienta más a flote.</p>
              <p>
              Durante esta prueba, los participantes tendrán la tarea de diseñar y desarrollar una aplicación web utilizando Django, un potente framework de desarrollo web. La prueba se centrará en aspectos clave del diseño, como la usabilidad, la accesibilidad y la estética visual.
            </p>
          </div>
          <!--Grid column-->

          

          

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Seguinos en nuestras redes sociales</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Instagram</a>
              </li>
              <li>
                <a href="#!" class="text-white">Facebook</a>
              </li>
              <li>
                <a href="#!" class="text-white">LinkedIn</a>
              </li>
              <li>
                <a href="#!" class="text-white">Twitter</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="mb-4" />

      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Registate gratis</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            ¡Registrarse!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->

      <hr class="mb-4" />

      <!-- Section: Social media -->
      <section class="mb-4 text-center">
        <!-- Facebook -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-facebook-f"></i
          ></a>

        <!-- Twitter -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-twitter"></i
          ></a>

        <!-- Google -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-google"></i
          ></a>

        <!-- Instagram -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-instagram"></i
          ></a>

        <!-- Linkedin -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-linkedin-in"></i
          ></a>

        <!-- Github -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-github"></i
          ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >MaFosDeveloper</a
        >
    </div>
    <!-- Copyright -->
  </footer>
</div>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>